@import "tailwindcss";

@layer base {
  button {
    cursor: pointer;
  }
}

@theme {
  --font-display: "Plus Jakarta Sans";

  --text-3xl: 32px;
  --text-4xl: 36px;
  --text-5xl: 40px;

  --color-primary-50: #f6f6fd;
  --color-primary-100: #e8e6fb;
  --color-primary-200: #cecaf6;
  --color-primary-300: #7663e4;
  --color-primary-400: #4d2ec4;
  --color-primary-500: #28166f;
  --color-primary-600: #21115f;
  --color-primary-700: #1b0d51;
  --color-primary-800: #150943;
  --color-primary-900: #0b042b;
  --color-white: #ffffff;
  --color-green-50: #f4fff6;
  --color-green-100: #e9ffed;
  --color-green-200: #00e866;
  --color-green-300: #00c857;
  --color-green-400: #bce455;
  --color-green-500: #00913d;
  --color-green-600: #00732f;
  --color-green-700: #005521;
  --color-green-800: #003c15;
  --color-green-900: #002108;
  --color-red-50: #fceded;
  --color-red-100: #f9dcdb;
  --color-red-200: #f4bbbb;
  --color-red-300: #ef9694;
  --color-red-400: #ec6b67;
  --color-red-500: #df413b;
  --color-red-600: #b2322d;
  --color-red-700: #882420;
  --color-red-800: #621714;
  --color-red-900: #3a0a08;
  --color-warning-50: #fff8f0;
  --color-warning-100: #fff5e8;
  --color-warning-200: #ffe8c6;
  --color-warning-300: #ffdea9;
  --color-warning-400: #ffd485;
  --color-warning-500: #ffc73a;
  --color-warning-600: #cc9c00;
  --color-warning-700: #967200;
  --color-warning-800: #936312;
  --color-warning-900: #634a00;
  --color-gray-50: #f4f3f4;
  --color-gray-100: #e8e8ea;
  --color-gray-200: #cfced2;
  --color-gray-300: #b9b8be;
  --color-gray-400: #a4a2aa;
  --color-gray-500: #8d8b95;
  --color-gray-600: #706e7a;
  --color-gray-700: #53515c;
  --color-gray-800: #38363e;
  --color-gray-900: #201f24;
}
